* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('image/itenas2.jpeg');
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 100px; 
    background-color: #ffffff;

    width: 100%;
    min-height: 100vh;

    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
}

/* Container lebih kecil */
.container {
    max-width: 800px; /* perkecil lebar */
    margin: 0 auto;
    padding: 20px;
}
